li.nav-item {
  margin: 0 0.25rem;
}

li.nav-item.active:focus, li.nav-item:focus {
  outline: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

li.nav-item:hover, li.nav-item.active {
  background-color: #a82525;
  border-radius: 20px;
}
