<div class="container">
  <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "large"
    color = "#fff"
    type = "ball-atom">
  </ngx-spinner>
  <div class="row">
    <div class="col">
      <div style="font-size: 6rem">
        {{ weekly?.word }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        {{ weekly?.meaning }}
      </div>
    </div>
  </div>
  <div *ngIf="!hasVoted" class="row" style="margin-top: 2rem;">
    <div class="col">
      <button (click)="vote(true)" class="btn btn-lg btn-primary" style="margin-left: 2rem;">
        <div style="font-size: 1.7rem">
          <i class="fas fa-thumbs-up"></i> אימצתי!
        </div>
      </button>
      <button (click)="vote(false)" class="btn btn-lg btn-warning">
        <div style="font-size: 1rem">לא אשתמש </div>
        <div style="font-size: 0.7rem">אבל אתה מלך <i class="fas fa-crown"></i></div>
      </button>
    </div>
  </div>
  <ng-container *ngIf="(!isHistoryMode && hasVoted) || (isHistoryMode && showResults)">
    <app-results
      [isHistoryMode]="isHistoryMode"
      [oldWeekly]="weekly">
    </app-results>
  </ng-container>
</div>
