<div class="container">
  <div class="row">
    <div class="col">
      <div style="font-size: 6rem">
        {{ weekly?.word }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        {{ weekly?.meaning }}
      </div>
    </div>
  </div>
  <div *ngIf="!hasVoted; else showResults" class="row" style=" margin-top: 2rem;">
    <div class="col">
      <button (click)="vote(true)" class="btn btn-lg btn-primary" style="margin-left: 2rem">
        <i class="fas fa-thumbs-up"></i> אהבתי
      </button>
      <button (click)="vote(false)" class="btn btn-lg btn-warning">
        <i class="fas fa-thumbs-down"></i> לא אהבתי
      </button>
    </div>
  </div>
  <ng-template #showResults>
    <div fxLayout="row" fxLayoutAlign="center center">
      <ngx-charts-pie-chart
        [view]="[500, 350]"
        [results]="results"
        [scheme]="{domain: ['#2C83C9', '#FAC51D']}"
      [labels]="true" [doughnut]="true" [arcWidth]="0.5">
      </ngx-charts-pie-chart>
    </div>
  </ng-template>
</div>
