<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "large"
  color = "#fff"
  type = "ball-atom">
</ngx-spinner>
<div *ngIf="weekly" class="container">
  <div class="row">
    <div class="col">
      <div style="font-size: 6rem">
        {{ weekly?.word }}
      </div>
    </div>
  </div>
  <div *ngIf="showOptionsButtons" class="row" style="margin-top: 2rem;">
    <div class="col">
      <button (click)="showOptions = true; showOptionsButtons = false;" class="btn btn-lg btn-primary" style="margin-left: 2rem;">
        <div>
          <i class="fas fa-question-circle"></i> נסה לנחש
        </div>
      </button>
      <button (click)="showMeaning = true; showOptionsButtons = false;" class="btn btn-lg btn-warning">
        <div>גלה לי <i class="far fa-dizzy"></i></div>
      </button>
    </div>
  </div>
  <div *ngIf="showOptions">
    <div *ngFor="let option of weekly.options" class="row" style="font-size: 1.5rem;">
      <div class="col">
        <label>
          <input type="radio"
                 name="option"
                 [(ngModel)]="selectedOption"
                 [value]="option">
          {{ option }}
        </label>
      </div>
    </div>
    <div class="row" style="margin-top: 2rem; margin-bottom: 2rem">
      <div class="col">
        <button (click)="chooseOption()" class="btn btn-lg btn-primary" style="margin-left: 2rem;">
          <div style="font-size: 1.7rem">
            בחר <i class="fas fa-hand-point-up"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="hasSelectedOption && isCorrect">
    <div class="row" style="font-size: 2rem; margin-bottom: 1rem; color: mediumseagreen; font-weight: bold">
      <div class="col">
        תשובה נכונה!
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/happy.gif" class="img-fluid" style="max-width: 100%; height: auto; max-height: 200px">
      </div>
    </div>
  </div>
  <div *ngIf="hasSelectedOption && !isCorrect">
    <div class="row" style="font-size: 2rem; margin-bottom: 1rem; color: #ce2f2f; font-weight: bold">
      <div class="col">
        תשובה לא נכונה
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/sad.gif" class="img-fluid" style="max-width: 100%; height: auto; max-height: 200px">
      </div>
    </div>
  </div>
  <div *ngIf="showMeaning" class="row" style="margin-top: 2rem">
    <div class="col">
      <div>
        {{ weekly?.meaning }}
      </div>
    </div>
  </div>
  <div *ngIf="!hasVoted && showMeaning" class="row" style="margin-top: 2rem; margin-bottom: 2rem">
    <div class="col">
      <button (click)="vote(true)" class="btn btn-lg btn-primary" style="margin-left: 2rem;">
        <div style="font-size: 1.7rem">
          <i class="fas fa-thumbs-up"></i> אימצתי!
        </div>
      </button>
      <button (click)="vote(false)" class="btn btn-lg btn-warning">
        <div style="font-size: 1rem">לא אשתמש </div>
        <div style="font-size: 0.7rem">אבל אתה מלך <i class="fas fa-crown"></i></div>
      </button>
    </div>
  </div>
  <ng-container *ngIf="(!isHistoryMode && hasVoted) || (isHistoryMode && showResults)">
    <app-results
      [isHistoryMode]="isHistoryMode"
      [oldWeekly]="weekly">
    </app-results>
  </ng-container>
</div>
