<div class="container">
  <ngx-spinner
    bdColor="rgba(51, 51, 51, 0.8)"
    size="large"
    color="#fff"
    type="ball-atom">
  </ngx-spinner>
  <div class="row" *ngIf="hasPublished" style="margin-top: 2rem">
    <div class="col">
      <div class="alert alert-success" role="alert">
        הפעולה בוצעה בהצלחה!
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem; margin-bottom: 1rem; font-weight: bold; font-size: 2rem">
    <div class="col">
      מילת השבוע
    </div>
  </div>
  <div class="row" style="margin-top: 2rem; margin-bottom: 1rem; font-weight: bold;">
    <div class="col">
      סטטיסטיקת ניחושים שבועית: ענו נכון: {{currentWeekly.correctGuesses}}. ענו לא נכון: {{currentWeekly.wrongGuesses}}
    </div>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="col">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" style="border-radius: 0">מילת השבוע</span>
        </div>
        <input [(ngModel)]="word"
               type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm"
               style="border-radius: 0">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="border-radius: 0">הסבר</span>
        </div>
        <input [(ngModel)]="meaning"
               type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-default"
               style="border-radius: 0">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 1rem; margin-bottom: 0.5rem; font-weight: bold; text-align: right">
    <div class="col">
      ניחושים:
    </div>
  </div>
  <div *ngFor="let option of options; let i = index" class="row" style="margin-top: 0.2rem">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="border-radius: 0">{{ i + 1 }}</span>
        </div>
        <input [(ngModel)]="options[i].value"
               [name]="i"
               type="text"
               class="form-control"
               aria-label="Large"
               aria-describedby="inputGroup-sizing-default"
               style="border-radius: 0">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 1rem; margin-bottom: 0.5rem; font-weight: bold; text-align: right">
    <div class="col">
      הניחוש הנכון:
    </div>
  </div>
  <div class="row" style="margin-top: 0.2rem">
    <div class="col" *ngFor="let option of options; let i = index">
      <label>
        <input type="radio"
               name="option"
               [(ngModel)]="correctOption"
               [value]="option.value">
        {{ i + 1 }}
      </label>
    </div>
  </div>
  <div class="row" style="margin-bottom: 4rem; margin-top: 1rem">
    <div class="col">
      <div class="btn btn-primary" (click)="onPublishWorkOfWeek()">פרסם את מילת השבוע</div>
    </div>
  </div>
  <hr style="border: 1px dashed;">
  <div class="row" style="margin-top: 2rem; margin-bottom: 1rem; font-weight: bold; font-size: 2rem">
    <div class="col">
      הידעת
    </div>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="col">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" style="border-radius: 0">הידעת?</span>
        </div>
        <input [(ngModel)]="title"
               type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm"
               style="border-radius: 0">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="border-radius: 0">פירוט</span>
        </div>
        <input [(ngModel)]="description"
               type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-default"
               style="border-radius: 0">
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 2rem">
    <div class="col">
      <div class="btn btn-primary" (click)="onPublishFact()">פרסם הידעת</div>
    </div>
  </div>
  <hr style="border: 1px dashed;">
  <div class="row" style="margin-top: 2rem; margin-bottom: 1rem; font-weight: bold; font-size: 2rem">
    <div class="col">
      שאלות למענה
    </div>
  </div>
  <div *ngFor="let question of questions; let i = index" style="text-align: right; margin-bottom: 1rem">
    <div class="row">
      <div class="col d-inline-flex align-items-center">
        <div style="padding: 1rem 0 1rem 1rem">{{question.question}}
          <ng-container *ngIf="question.username">(מאת {{question.username}})</ng-container>
        </div>
        <div *ngIf="i !== answerIndex">
          <button class="btn btn-primary" (click)="answerIndex = i" style="margin-left: 1rem"><i
            class="fas fa-comments"></i> ענה
          </button>
          <button class="btn btn-danger" (click)="onDelete(question)"><i class="fas fa-trash-alt"></i> מחק</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="i === answerIndex" class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" style="border-radius: 0">תשובה</span>
          </div>
          <input [(ngModel)]="question.answer"
                 type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-default"
                 style="border-radius: 0">
          <button class="btn btn-primary" (click)="onAnswer(question)" style="margin-right: 1rem"><i
            class="fas fa-comments"></i> ענה
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
