<div class="container">
  <div class="row" *ngIf="hasPublished" style="margin-top: 2rem">
    <div class="col">
      <div class="alert alert-success" role="alert">
        מילת השבוע פורסמה בהצלחה!
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="col">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" style="border-radius: 0">מילת השבוע</span>
        </div>
        <input [(ngModel)]="word"
          type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm"
               style="border-radius: 0">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="border-radius: 0">הסבר</span>
        </div>
        <input [(ngModel)]="meaning"
               type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-default"
               style="border-radius: 0">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn btn-primary" (click)="onPublish()">פרסם</div>
    </div>
  </div>
</div>
